:host{
  .product-center{
  display:flex;
  justify-content:center;
  flex-flow:wrap;
  
  .product-images,.product-heading,.product-labels{
    text-align:center;
    width:100%;
    height: 50%;
    
  }
  button{background-color: rgb(18, 7, 82);
  //border:none;
  font-size:25px;
  font-weight: 200;
  color:white;
  }
  
  button:hover{
    background-color: black;
    color:white;
  }
  
 .product-labels{
    align-items: center;
    display:inline;
    justify-content:center;
    padding:20px;
  
    //flex:2;
  .product-label{
    padding-left:10px;
    padding-right:15px;
    line-height: 2rem;

    label{
      font-weight:900;
      padding-right:10px;
      font-family: sans-serif;
      color: gray;
    }
  }
  }

  

}
   
  @media(max-width:992px){
    .product-center{
      .product-labels{
        flex-wrap:wrap;
        .product-label{
          width:50%;
        }
      }
    }
  }
  }